$primary-color: #AA0601;
$secondary-color: #Fbf2f2;

$text-color-light: #FFFF;
$text-color-dark:#650300;
$text-color-deep-dark:#000;

$border-color:#DCDCDC;

$fs-1:20px;
$fs-2:16px;
$fs-3:36px;
$fs-4:24px;

$fw-1:400;
$fw-2:700;
$fw-3:500;