<!-- 放元件(可重複使用的項目)-->
<nav class="nav">
  <div class="container-nav d-flex aic d-block-sm">
    <div class="logo pd-15">
      <img src="material/logo-white.png" alt="logo" />
    </div>
    <ul class="click-item d-flex ml-auto f-wrap-sm">
      <li class="ml-64 item-box"><a href="#">系列鏡框</a></li>
      <li class="ml-64 item-box"><a href="#">門市據點</a></li>
      <li class="ml-64 item-box"><a href="#">部落格</a></li>
      <li class="ml-64 item-box"><a href="#">常見問題</a></li>
    </ul>
  </div>
</nav>
